/Java App/JavaApp_Client/build/
/Java App/JavaApp_Server/build/
/Webservice/HouseRentalWebservice/build/
/Java App/JavaApp_Server/dist/
/Java App/JavaApp_Client/dist/
/Java App/JavaApp_Server/nbproject/private/
/Webservice/HouseRentalWebservice/nbproject/private/
/Webservice/HouseRentalWebsite/nbproject/private/
/Webservice/HouseRentalWebsite/dist/
/Webservice/HouseRentalWebsite/build/
/Webservice/HouseRentalWebservice/dist/